/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Karla', sans-serif;
*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px; }
.material-icons.md-96 { font-size: 96px; }

::selection {
    background: #b3d4fc; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #b3d4fc; /* Gecko Browsers */
}
html{
    background-color: #EBEBEB;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
body{
    background-color: #EBEBEB;
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    margin: 0px;
}
.top {
    width: 70px;
    height: 70px;
    background-color: #4DD0E1;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
  
    font-size: 50px;
    color: black;
    text-align: center;
    line-height: 70px;
  
    position: fixed;
    right: 20px;
    bottom: 20px;
 }
 .top a:hover, .top a:active, .top a:link, .top a:visited{
    color: black !important;
}
  
 .top:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
 }
section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
}
section#home{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
section#home h1{
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}
section#home h4{
    font-size: 18px;
    margin: 0;
}
section#about{
    background-color: #ffffff;
}
section.info h1{
    font-size: 28px;
    margin: 0;
}
section.info span{
    font-family: 'Karla',sans-serif;
    margin: 0;
}
.tp img{
    width: 75%;
}
.name ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.name ul strong{
    display: block;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.bold{
    font-weight: 600 !important;
}
.Karla{
    font-family: 'Karla', sans-serif;
}
.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 40%
}
h3.Tag{
    font-weight: bold;
}
img.ed{
    width: 40%;
}
ul.lis li{
    list-style-type: none;
}
.rgt{
    align-items: flex-end;
}
ul.book-list{
    list-style: none; 
}
ul.book-list li{
    font-family: 'Karla',sans-serif;
    font-size: 20px;
}
a:link.the-flash, a:visited.the-flash{
    color: #A16AE8;
}
a:hover.the-flash, a:active.the-flash{
    color: #603F8B !important;
}
.social a:link, .social a:visited{
    color: black;
}
.social a.mail:hover, .social a.mail:active{
    color: rgb(64, 93, 230) !important;
}
.social a.twt:hover, .social a.twt:active {
     color: rgb(29, 161, 242) !important;
}
.social a.ig:hover, .social a.ig:active{
    color: rgb(234, 76, 137) !important;
}
.social a.med:hover, .social a.med:active{
    color: rgb(0,171,108) !important;
}
.social a.likin:hover, .social a.likin:active{
    color: rgb(0, 119, 181) !important;
}
img.bc{
    width: auto;
    height: 25%;
}
@media (max-width: 575.98px) {
    .break{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .top {
        width: 50px;
        height: 50px;
        background-color: #4DD0E1;
        border-radius: 50%;
        box-shadow: 0 6px 10px 0 #666;
        transition: all 0.1s ease-in-out;
      
        font-size: 25px;
        color: black;
        text-align: center;
        line-height: 70px;
      
        position: fixed;
        right: 20px;
        bottom: 20px;
     }
}
@media (max-width: 345.98px){
    section#home h1{
        font-size: 2rem;
    }
}